.container{
    width : 1200px;
    margin : 0 auto;

}

.hotelSummary{
    color : #191E3B;
}

.hotelDescription{
    color : #191E3B;
}

.review{
    color : #1668E3;
}

.roomSelectButton{
    background-Color : #191E3B;
    border-radius : 999px; 
    color : #FFF;
    width  : 90px;
    height : 40px;
    font-size : 14px;
    font-weight : 400;
}

.ratingWrapper{
    display : flex;
    flex-direction : column;
    gap : 20px;
}



.ratingHeader{
    display : flex;
    border : 1px solid #DFE0E4;
    border-radius: 20px;
    padding : 10px;
    gap : 12px;
    margin-top : 20px;
}

.star{
    display : flex;
}

.luxuryItem{
    background : #E61E43;
    border-radius : 4px;
    color : #FFF;
    height : 24px;
    width : 60px;
    line-height : 24px;
    text-align : center;
    font-size : 12px; 
}

.vipAccessItem{
    background : #0C0E1C;
    border-radius : 4px;
    color : #FFF;
    height : 24px;
    width : 80px;
    line-height : 24px;
    text-align : center;
    font-size : 12px; 
}

.hotelKorName{
    font-size : 36px;
    height: 40px;
}

.hotelEngName{
    font-size : 14px;
}

.rating{
    background : #227950;
    border-radius : 8px;
    color : #FFF;
    height : 24px;
    width : 60px;
    line-height : 24px;
    text-align : center;
    font-size : 12px;
}

.overViewWrapper{
    background-Color : #F9ECEA;
    border-radius : 16px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.nav{
    display : flex;
    gap : 20px;
    font-size : 14px;

    li{
        cursor: pointer;
        padding-bottom: 10px;
    }
}

.active{
    border-bottom: 2px solid #1668E3;
}

.header{
    background-color: #FFF;
    z-index: 9999;
    position: sticky;
    top: 0;
    border-bottom : 1px solid #EAE3D2;
    display : flex;
    align-items : center;
    justify-content : space-between;
}

.hotelGradeWrapper{
    display: flex;
    align-items: center;
    gap : 20px;
}

.listStyle{
    margin-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: 8px;
}

.vipAccessPrivilegeInfoContainer{
    border : 1px solid #DFE0E4; 
    width : 100%;
    padding : 20px;
    border-radius : 24px;
}

.detailPrvilegeInfoText{
    color : #1668E3;
    display : flex;
    align-items : center;  
    gap: 20px; 
}

.vipAccessPrivilegeContentWrapper{
    border-top : 1px solid #DFE0E4; 
}

.hotelImageWrapper{

    display: flex;
    gap: 12;
    width: 100%;
}

.hotelMainImageWrapper{
    flex: 1;
    position: relative;
}

.hotelMainImage{
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 8;
}

.hotelSubImageWrapper{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12;
    position: relative;
}

.hotelSubImageItemWrapper{
    width : 100%;
}


.hotelSubImageItem{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8;
}

.previousButton{
    border-radius : 999px; 
    position : absolute;
    top : 20px; 
    left : 20px;
    width : 30px;
    height : 30px;
    padding : 8px;
    background-color : #FFF;
}

.favoriteAndSaveButtonWrapper{
    display : flex; 
    position : absolute; 
    gap : 20px; 
    right : 20px; 
    top  : 20px;
}

.googleMapWrapper{
    width : 20vw;
    height : 20vh;
}

.goToAllInfoHotel{
    color : #1668E3;
    display : flex;
    align-items : center;
    gap : 10px;
}

.amenityText{
    display : flex;
    align-items : center;
    flex : 1;
}

.amenitiesWrapper{
    display : flex;
    gap : 10px;
}

.introLeftWrapper{
    width : 40vw;
}

.introWrapper{
    display : flex;
    gap : 40px;
}

.hotelRoomListWrapper{
    display : grid;
    grid-template-columns : repeat(3, 1fr);
    grid-gap : 10px;
}

.hotelRoomItemWrapper{
    border-radius : 20px;
    background-color : orange;
    height : 300px;
}


.hotelRoomInfoListWrapper{
    display : flex;
    flex-direction : column;
}

.hotelRoomInfoItemWrapper{
    display : flex;
    align-items : center;
    gap : 10px;
    height : 30px;
    
}