.faqItemWrapper{
    
}
.faqItem{
    /* display: flex; */
}

.faqQuestionWrapper{
    display: flex;
    align-items: center;
    gap : 20px;
}

.faqQuestion{
    font-size : 16px;
    font-weight: 500;
}

.faqAnswer{
    display: none;
}

.faqToggled{
    display: block;
    margin-left: 40px;
}