.layout{

    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: #fff;
    z-index: 999;

    input {
      
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        font-size : 20px;
        padding-left: 20px;
        height: 80px;
        border: none;
        border-bottom: 2px solid #d3d3d3;
        width: 100%;
        box-sizing: border-box;
        outline: none;

    }

}