.container{
    background-color : #F8F3E7;
    padding-left : 100px;
    padding-right: 100px;
    box-sizing : border-box;
}


.menu{
    display: flex;
    flex-direction: column;
    gap : 20px;
    margin-top : 30px;

}


.menu > li > a{
    font-size : 12px;
    color : #1668E3;
}

.title {
    color : #191E3B;
    font-size : 12px;
    margin-top: 40px;
    font-weight: 400;
}

.navWrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom : 2px solid #DFE0E4;
}