@use '@/app/common';


@mixin container($width){

    border-radius : 16px;
    background-color : common.$benefit-notice-background;
    height : 80px;
    width : $width;
    margin-top : 30px;
    display : flex;
    align-items : center;
    justify-content : space-between;
    padding : 16px;
    gap : 20px;
    margin-bottom: 20px;
}


.rewardContainer{
    @include container(800px);
}

.discountContainer{
    @include container(1200px);
}

@media screen and (max-width: 767px) {
    .rewardContainer,
    .discountContainer {
        display: none;
    }
}

.text{
    color : #fff;
    flex : 1;
}

.button{
    background-color: common.$common-button-color;
    width : 120px;
    border-radius: 16px;
    border : none;
    color : #fff;
    height: 36px;
}


.rewardDetailButton{
    width: 120px;
    border-radius: 16px;
    background-color: transparent;
    color : #fff;
    height: 36px;
    border: none;
    margin-left: 16px;

    &:hover{
        background-color: #676A7D;
    }

}