
@mixin container($width){

    border-radius : 16px;
    background-color : #0c0e1c;
    height : 80px;
    width : $width;
    margin-top : 30px;
    display : flex;
    align-items : center;
    justify-content : space-between;
    padding : 16px;
    gap : 20px;

}

.rewardContainer{
    @include container(800px);
}

.discountContainer{
    @include container(1200px);
}


.text{
    color : #fff;
    flex : 1;
}

.button{
    width : 100px;
}