.closeDateSelectButton {
    background-color : #191E3B;
    height : 40px;
    border : none;
    border-radius : 20px;
    width : 60px;
    color : #FFF;
    position: relative;
    cursor : pointer;
    display: block;
    margin: 0 10px 10px auto;
}

.content{
    position: absolute;
    background-color : #FFF;
    border-radius : 20px;
}

.searchOptionSelectorContainer{
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding : 16px;
    flex : 1;
    height: 48px;
    box-sizing: border-box;
}