.itemContainer {
    display : flex;
    flex : 1;
    align-items: center;
}

.suggestionMenuLeft {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 8px;
    background-color : #f8f3e7;
    flex : 1;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 10px;
}

.image{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.menuContainer {
    display : flex;
    justify-content : space-between;
    gap : 40px;
    margin-top : 20px;
}

@media screen and (max-width : 767px) {
    .menuContainer{
        margin-left: 40px;
        margin-right: 40px;
        justify-content: center;
        flex-direction : column;
        box-sizing: border-box;
    }
}