@use '@/app/common';


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    li {
        color : #E61E43;
    }
}

.reservationWithIcon{
    display: flex;
    align-items: center;
    gap : 4px;
    cursor : pointer;
}

@media screen and (max-width : 767px){
    .nav{
        display: none;
    }
}


.navMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
    margin-left : 30px;
}

.reservation{
    display: none;
}

.headerRight{
    display: flex;
}

.headerLeft{
    display: flex;
    align-items: center;
    gap : 20px;
}

.download {
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap : 10px;
    background: none;
    border-color : #819494;
}

.commcenter{
    stroke : #E61E43;
}

.reservationDetail{
    display: none;
}

.banner {
    font-size : 90px;
    width: 300px;
    height: 500px;
    background-image: url('/waterpark.jpg');
    background-size: 100% auto; /* 가로를 꽉 채우고 세로는 비율 유지 */
    background-repeat: no-repeat;
    background-position: center;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction : column;
    align-items : center;
}

.bannerText{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

@media screen and (max-width : 767px) {
    .bannerText{
        display: none;
    }
}

.bannerCriteriaItemContainer{
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding : 16px;
    flex : 1;
    height: 60px;
    box-sizing: border-box;
}

.bannerCriteriaListContainer{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

@media screen and (max-width : 767px) {
    .bannerCriteriaListContainer{
        width : 100%;
    }
}


.searchButton{
    border-radius: 32px;
    width: 80px;
    background-color : common.$common-button-color;
    height: 50px;
    border : none;
    font-size : 20px;
    color : #fff;
}

@media screen and (max-width : 767px) {
    .searchButton{
        width : 100%;
    }
}

.bannerContainer{
    position: relative;
    width: 100%;
    height : 400px;
}

.bannerContentWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing : border-box;
}


@media screen and (max-width : 767px) {
    .bannerCriteriaListContainer{
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width : 767px) {
    .bannerCriteriaItemContainer{
        box-sizing: border-box;
        width: 400px;
        flex: 0 1 auto;
        padding: 15px;
        border : 1px solid #000;
    }
}

@media screen and (max-width : 767px) {
    .bannerImage{
        display: none;
    }
}

.criteriaField{
    margin-left: 0.5rem;
    border-radius: 15px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

