.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color : #E61E43;
}

.navMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
    margin-left : 30px;
}

.reservation{
    display: none;
}

.headerRight{
    display: flex;
}

.headerLeft{
    display: flex;
    align-items: center;
    gap : 20px;
}

.download {
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap : 10px;
    background: none;
    border-color : #819494;
}

.commcenter{
    stroke : #E61E43;
}

.reservationDetail{
    display: none;
}

.banner {
    font-size : 90px;
    width: 300px;
    height: 500px;
    background-image: url('/waterpark.jpg');
    background-size: 100% auto; /* 가로를 꽉 채우고 세로는 비율 유지 */
    background-repeat: no-repeat;
    background-position: center;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction : column;
    align-items : center;
}