.checkbox {
    border: 2px solid #818494;     
    width: 16px;
    height: 16px;    
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
  }
  
  .checkbox:checked {
    background: #1668E3;
    border: none;
  }
  
  .checkbox:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
  }

.checkboxWrapper{
    display: flex;
    gap : 12px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;
}

.checkboxLabel{
    font-size: 14px;
}