.amenitiesOptionItem{

    display : flex;
    flex-direction : column;
    align-items : center;
    width : 140px;
    border-radius : 16px;
    border : 1px solid #d3d3d3;
    height : 60px;
    justify-content : center;

}

.amenitiesOptionContainer{
    display : flex;
    flex-wrap : wrap;
    gap : 10px;
}