.container{
    max-width: 1200px;
    width: 100%;
    margin : 0 auto;

}

.searchOption{
    width : 100%;
    display : flex;
    flex : 1;
    gap : 20px;
    padding : 20px;
    height  : 60px;   

}

.searchOptionContainer{
    display : flex;
    align-items : center;
    box-sizing : border-box;

}

.searchOptionItem{
    flex : 1;
    border-radius : 12px;
    display : flex;
    align-items : center;
    gap : 20px;
    padding : 8px;
    border : 1px solid #000;

}

.searchButton {
    border-radius : 999px;
    background-color : #1668e3;
    border : none;
    width : 40px;
    height : 40px;
    display : flex;
    align-items : center;
    justify-content : center;
}


.content{
    display : flex;
}

.asideContainer{
    width : 300px;
    background-color : #ffffe0;
    padding: 10px;
}

.mainContainer{
    flex : 1;
    background-color : #c8facb;
    max-width: 800px;
}

.hotelInfoContainer{
    display : flex; 
    cursor : pointer; 
    height : 200px; 
    box-sizing : border-box;
}

.hotelImage{
    border-top-left-radius : 24px; 
    border-bottom-left-radius : 24px;
}

.hotelInfoRight{
    border-top-right-radius : 24px; 
    border-bottom-right-Radius : 24px;  
    border : 1px solid #d3d3d3;
    flex : 1;
    padding : 10px;
    box-sizing : border-box;
}

.rating{
    background-color : purple;
    border-radius : 8px; 
    color : #FFF; 
    height : 30px; 
    line-height : 30px; 
    width : 50px; 
    text-align  : center;
}

.priceInfoWrapper{
    display : flex;
    flex-direction : column;
    justify-content : space-around;
    align-items : flex-end;
    flex : 1
}

.priceInfo{
    display : flex;
    align-items : flex-end;
    flex-direction : column;
}

.salePrice{
    text-decoration : line-through;
    font-size : 24px;

}

.costPrice{
    margin-right : 10px;
}

.taxInclude{
    font-size : 10px;
    text-align : end;
}

.searchField{
    background-image: url('../assets/search.svg');
    height: 30px;
    width: 80%;
    border-radius: 12px;
    border : 1px solid #d3d3d3;
    padding: 8px;
}

.gradeContainer{
    display : flex;
    flex-wrap : wrap;
    gap : 10px;
}


.gradeItem{
    display : flex; 
    align-items : center;
    border-Radius : 12px;
    border : 1px solid #000;
    padding : 4px;
}